<footer class="text-muted">
  <div class="container"><p>&copy <%= Time.now.year %> | <b>Daniela Reijs</b>
      <p>
        <a href="#">Back to top</a> |
        <%= link_to "View All Portfolio Items", portfolios_path %>
      </p>
</footer>
