<h1>Contact Page</h1>
<hr>
<div class="row">
  <div class="col-md-6">
<p><%= number_to_phone "4443335555" %></p>
<p><%= number_to_currency "1530" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "8379856763" %></p>
</div>
<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.6708704720788!2d10.746982800000001!3d59.9210095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416e652760080d%3A0x4d9702bd78893599!2sAkersveien%2024A%2C%200177%20Oslo!5e0!3m2!1sen!2sno!4v1610654275024!5m2!1sen!2sno" width="250" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
